.header {
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 24px 16px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.navbar__container {
    display: block;
    background-color: var(--white-color);
    padding: 24px 16px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0%;
    right: 0%;
    transform: translateX(100%);
    transition: transform .5s var(--timing-function);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
}

.navbar::before {
    content: "";
    background-color: var(--white-color);
    width: 100%;
    height: 100%;
    transition: transform .5s var(--timing-function);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: top;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
}

.scrolling::before {
    transform: scaleY(1);
}

.is-active {
    transform: translateX(0%);
}

.navbar__ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.navbar__item {
    display: flex;
}

.navbar__item .link {
    position: relative;
    line-height: 1.5rem;
}

.navbar__item .link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--black-color);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .4s var(--timing-function);
}

.navbar__item .link:hover::before {
    transform: scaleX(1);
    transform-origin: right;
}

.navbar-toggler {
    display: inline;
}

@media screen and (min-width: 375px) {
    .navbar__container {
        width: 60vw;
    }
}

@media screen and (min-width: 768px) {
    .navbar__container {
        width: 40vw;
    }
}

@media screen and (min-width: 1024px) {
    .navbar__container {
        display: block;
        flex-basis: auto;
        transform: none;
        transition: none;
        background-color: initial;
        box-shadow: none;
        position: static;
        height: auto;
        width: auto;
        padding: 0%;
    }

    .navbar__ul {
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    
    .navbar__item {
        padding: 0% 8px;
    } 
    
    .navbar-toggler {
        display: none;
    }
}

