.navbar__container {
    display: block;
    background-color: aqua;
    position: fixed;
    height: 100vh;
    width: 50vw;
    top: 0%;
    right: 0%;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
}

.is-active {
    transform: translateX(0%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
}


.navbar__ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar__item {
    margin: 8px 0px;
}

.navbar-toggler {
    display: block;
}

.home {
    height: 200vh;
    background-color: bisque;
}

@media screen and (min-width: 1024px) {
    header {
        position: fixed;
        top: 0px;
        width: 100%;
    }

    .header-style {
        animation: scroll-animation .3s ease-in-out;
    }

    .navbar__container {
        display: block;
        flex-basis: auto;
        transform: none;
        transition: none;
        background-color: initial;
        position: static;
        height: auto;
        width: auto;
    }

    .navbar__ul {
        flex-direction: row;
    }
    
    .navbar__item {
        padding: 0% 8px;
    }
    
    .navbar-toggler {
        display: none;
    }
}

@keyframes scroll-animation {
    0% {height: 0px;}
    100% {height: 64px;}
}
